[submodule "gchessboard"]
	path = gchessboard
	url = https://github.com/Alexanderortizcuellar/gchessboard
[submodule "pgn-indexer"]
	path = pgn-indexer
	url = https://github.com/alexanderortizcuellar/pgn-indexer.git
